.edit-element-section {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 20px;
}

.editable-property-input-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
