.filter-section {
  display: flex;
  flex-direction: column;
  gap: 12px;
  padding: 10px 0;
}

.filter-panel {
  background-color: var(--background);
  width: 100%;
}

.filter-panel-heading {
  margin-bottom: 10px;
}

.filter-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 18px;
}

.filter-panel-overlay {
  position: absolute;
  inset: 0;
  background-color: rgba(0, 0, 0, 0.6);
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 20px;
  z-index: 10;
}

.filter-adjustments-container {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 10px 0px 0px 20px;
}
