li {
  overflow: hidden;
}

.canvas-element-list-item {
  padding: 5px 10px;
  background-color: var(--background-light);
  border: 1px solid var(--border);
  border-radius: 7px;
  width: 100%;
  min-height: 50px;

  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: 150ms;
}

.canvas-element-list-item p {
  min-width: 0;
  flex: 1;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  text-align: center;
}

.canvas-element-list-item.selected {
  background-color: var(--dark-green);
  border-color: var(--green);
  color: var(--green);
}

.canvas-element-list-item:hover {
  cursor: grab;
  background-color: var(--background-lighter);
  border-color: var(--border-lighter);
}

.canvas-element-list-item:active,
.canvas-element-list-item.dragging {
  background-color: rgb(61, 61, 61);
}

.canvas-element-list-item::before {
  display: none;
}

.canvas-item-list-action-button {
  height: 25px;
  width: 25px;
}
.canvas-item-list-actions-container svg {
  color: var(--foreground);
  height: 25px;
  width: 25px;
  min-width: 25px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.canvas-element-list-item.selected .canvas-item-list-actions-container svg {
  color: var(--green);
}

.canvas-element-list-item:has(.canvas-element-list-action-remove:hover) svg {
  color: var(--red);
  transition: 150ms;
}

.canvas-element-list-item:has(.canvas-element-list-action-remove:hover) {
  border-color: var(--red);
  background-color: rgb(48, 22, 22);
  color: var(--red);
}
