.view {
  display: flex;
  flex-direction: row;
  height: 100vh;
  width: 100%;
}

.controls-section-container {
  width: 480px;
  padding: 20px;
}

.canvas-section-container {
  display: flex;
  align-items: center;

  overflow: auto;
  justify-content: flex-end;
  align-items: start;
  width: 100%;
  padding: 20px;
}

.canvas-container {
  height: 40rem;
  aspect-ratio: 16 / 9;
}

.canvas-container canvas {
  height: 100% !important;
  width: 100% !important;
  object-fit: block;
}

.canvas-element-list-container {
  padding: 20px 0px;
}

.canvas-element-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  list-style-type: none;
  gap: 10px;
}

/* TODO: move this to its respective stylesheet */
.add-element-section-overlay {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  height: 100vh;
  width: 100vw;
  background-color: rgba(0, 0, 0, 0.774);
}
