.view {
  display: flex;
  flex-direction: row;
  height: 100vh;
  width: 100%;
}

.controls-section-container {
  width: 300px;
}

.canvas-section-container {
  height: min-content;
  min-height: 200px;
  max-height: 500px;
  width: 300px;
  aspect-ratio: 16 / 9;

  resize: horizontal;

  display: flex;
  align-items: center;
  justify-content: center;
  overflow: auto;
}

.canvas-container {
  width: 100%;
  aspect-ratio: 16 / 9;
}

.canvas-container canvas {
  height: 100% !important;
  width: 100% !important;
  object-fit: block;
}

.canvas-element-list-container {
  padding: 20px 0px;
}

.canvas-element-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  list-style-type: none;
  gap: 10px;
}

/* TODO: move this to its respective stylesheet */
.add-element-section-overlay {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  height: 100vh;
  width: 100vw;
  background-color: rgba(0, 0, 0, 0.774);
}
